
/build/
/bin/
/export/
/cmake-build-*/
/CMakeCache.txt
/CMakeFiles/
/compile_commands.json
/cmake_install.cmake
/Makefile
/.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.obj
*.pdb
*.ilk
*.idb
*.lib
*.exp
*.ipch
*.tlog
*.lastbuildstate
*.tmp
*.log
*.gdextension
